.ForecastList {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.ForecastList > div:nth-child(n + 5) {
    display: none;
}

@media screen and (min-width: 640px) {
    .ForecastList > div:nth-child(n + 5) {
        display: flex;
    }
}