.ForecastItem {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 9rem;
    padding: 0.5rem 0;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.ForecastItem:hover, .isActive {
    background-color: rgba(0,71,102,0.1);
}
.isActive {
    border: 1px solid;
}

.ForecastItem div:first-child {
    font-weight: 700;
}

.ForecastItemTempWrapper {
    margin-top: auto;
    width: 100%;
}

.ForecastItemMinTemp {
    font-weight: 600;
    color: #2A65CB;
}

.ForecastItemMaxTemp {
    font-weight: 600;
    color: #CB2C2A;
}

.ForecastItemRain {
    font-size: 0.75rem;
    color: #0074AD;
}

@media screen and (min-width: 640px) {
    .ForecastItem {
        font-size: 1rem;
    }
}