.TimeTableItem {
    display: grid;
    grid-template-areas: "time icon condition wind uv";
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
    width: 100%;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
    font-size: 0.8rem;
}

.TimeTableItem_time {
    grid-area: time;
}

.TimeTableItem_icon {
    grid-area: icon;
}

.TimeTableItem_condition {
    grid-area: condition;
}

.TimeTableItem_wind {
    grid-area: wind;
}

.TimeTableItem_uv {
    grid-area: uv;
}

@media screen and (min-width: 640px) {
    .TimeTableItem {
        font-size: 1rem;
    }
}