.Today {
    padding: 1rem;
    background-color: #61cfff;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.TodayGrid {
    display: grid;
    grid-template-areas: "icon temp info";
    width: 100%;
    margin: 0 auto;
}

.TodayTitle {
    font-size: 1.5rem;
    font-weight: 700;
}

.TodayCurrentTemp {
    font-size: 3.5rem;
}

.TodayIcon {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.TodayIcon img {
    display: block;
    width: 100%;
}

.TodayInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: info;
    font-size: 0.75rem;
}

.TodayTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: temp;
}

.TodayMinTemp {
    font-weight: 600;
    color: #2A65CB;
}

.TodayMaxTemp {
    font-weight: 600;
    color: #CB2C2A;
}

@media screen and (min-width: 640px) {
    .Today {
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
}

@media screen and (min-width: 750px) {
    .TodayGrid {
        width: 60%;
    }
}