html, body, #root {
  height: 100%;
}

.App {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  padding: 3rem 1rem 1rem;
  text-align: center;
  justify-content: center;
  background-color: #eceeef;
}

.height100 {
  height: 100%;
}

h1 {
  margin-top: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  width: 100%;
}

.TodayContainer {
  width: 100%;
  margin: 1rem 0;
  background-color: white;
  border-radius: 0.25rem;
}

.TodayContainer > div {
  padding-bottom: 1rem;
}

.Credits {
  margin-top: auto;
  padding-top: 1rem;
  font-size: 0.8rem;
}

@media (min-width: 640px) {
  .TodayContainer {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }
}