html, body, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 3rem 1rem 1rem;
  min-height: 100%;
  text-align: center;
  background-color: #eceeef;
}

h1 {
  margin-top: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  width: 100%;
}