.App {
  display: flex;
  padding: 3rem 1rem;
  text-align: center;
  height: 100vh;
  justify-content: center;
  background-color: #eceeef;
}

h1 {
  margin-top: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  width: 100%;
}

.TodayContainer {
  width: 100%;
  margin: 1rem 0;
  background-color: white;
}

@media (min-width: 640px) {
  .TodayContainer {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }
}